header {
    background-color: #708d06;
    background-image: url('books-and-lights-hole.jpg');
      background-size: cover;
      background-position: center;
      height: 300px; /* Adjust height as needed */
      color: rgb(236, 214, 194);
      display: flex;
      align-items:center;
      justify-content:center;
      font-size: 1.5rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
  
}
header h1 {
    text-align:center;
  }

body {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    max-width: 90%;
  }

  .layout {
    display: flex;
    min-height: 90vh;
  }

  aside {
    width: 200px;
    padding: 1rem;
    background-color: #f4f4f4;
  }

  li {
    margin-bottom: 20%;
    list-style-type: none;
  }

  .nav-container-left {
    background-color: #d27307;
  }

  .right-aside {
    background-color: #8d0652;
  }

  main {
    flex: 1;
    padding: 1rem;
    background-color: #cec2df;
  }

  footer {
    background-color: rgb(20, 175, 80);
}

/* gallery for adventure page  */


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
   
  }
 

  .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    
  }

  .gallery img:hover {
    transform: scale(1.3);
  }
 